:root {
  --borders-brand: var(--brand-indigo-9);
  --borders-checked: var(--brand-indigo-5);
  --borders-error: var(--shared-tomato-9);
  --borders-focus: var(--shared-sky-9);
  --borders-positive: var(--shared-teal-9);
  --borders-warning: var(--shared-yellow-9);
  --borders-primary-hover: var(--grey-8);
  --borders-primary-rest: var(--grey-7);
  --borders-secondary: var(--grey-6);
  --foreground-brand-default: var(--brand-indigo-9);
  --foreground-brand-hover: var(--brand-indigo-10);
  --foreground-brand-pressed: var(--brand-indigo-11);
  --foreground-disabled: var(--grey-8);
  --foreground-error: var(--shared-tomato-9);
  --foreground-warning: var(--shared-yellow-9);
  --foreground-inverted: var(--grey-1);
  --foreground-positive: var(--shared-teal-9);
  --foreground-primary: var(--grey-12);
  --foreground-secondary: var(--grey-11);
  --foreground-static-white: var(--static-white);
  --foreground-static-black: var(--static-black);
  --surface-brand-default: var(--brand-indigo-9);
  --surface-brand-hover: var(--brand-indigo-10);
  --surface-brand-pressed: var(--brand-indigo-11);
  --surface-brand-soft-tetrady: var(--brand-indigo-3);
  --surface-brand-soft: var(--brand-indigo-1);
  --surface-disabled: var(--grey-4);
  --surface-error-and-status-green-1: var(--shared-teal-9);
  --surface-error-and-status-red-1: var(--shared-tomato-9);
  --surface-error-and-status-yellow-1: var(--shared-yellow-9);
  --surface-inverted: var(--grey-12);
  --surface-primary-default: var(--grey-1);
  --surface-primary-hover: var(--grey-4);
  --surface-primary-pressed-hovered: var(--brand-indigo-5);
  --surface-primary-pressed: var(--brand-indigo-5);
  --surface-secondary-default: var(--grey-2);
  --surface-secondary-hover: var(--grey-4);
  --surface-secondary-pressed-hovered: var(--brand-indigo-5);
  --surface-secondary-pressed: var(--brand-indigo-4);
  --surface-tetrady-default: var(--grey-3);
  --surface-tetrady-hover: var(--grey-4);
  --surface-tetrady-menu: var(--grey-3-alfa);
  --surface-tetrady-pressed: var(--brand-indigo-5)
}
