:root {
  --none: var(--corner-radius-none);
  --s: var(--corner-radius-20);
  --l: var(--corner-radius-60);
  --m: var(--corner-radius-40);
  --xl: var(--corner-radius-80);
  --circle: var(--corner-radius-circle);
}
