:root {
    --corner-radius-20: 2px;
    --corner-radius-40: 4px;
    --corner-radius-60: 6px;
    --corner-radius-80: 8px;
    --corner-radius-circle: 99px;
    --corner-radius-none: 0px;
    --size-100: 10px;
    --size-120: 12px;
    --size-160: 16px;
    --size-20: 2px;
    --size-200: 20px;
    --size-240: 24px;
    --size-280: 28px;
    --size-320: 32px;
    --size-360: 36px;
    --size-40: 4px;
    --size-400: 40px;
    --size-440: 44px;
    --size-480: 48px;
    --size-520: 52px;
    --size-560: 56px;
    --size-60: 6px;
    --size-80: 8px;
    --size-none: 0px;
    --stroke-width-5: 0.5px;
    --stroke-width-10: 1px;
    --stroke-width-15: 1.5px;
    --stroke-width-20: 2px;
}
