:root {
    --horizontal-100: var(--size-100);
    --horizontal-16: var(--size-160);
    --horizontal-20: var(--size-20);
    --horizontal-200: var(--size-200);
    --horizontal-240: var(--size-240);
    --horizontal-280: var(--size-280);
    --horizontal-320: var(--size-320);
    --horizontal-360: var(--size-360);
    --horizontal-40: var(--size-40);
    --horizontal-400: var(--size-400);
    --horizontal-440: var(--size-440);
    --horizontal-480: var(--size-480);
    --horizontal-520: var(--size-520);
    --horizontal-560: var(--size-560);
    --horizontal-60: var(--size-60);
    --horizontal-mnudge: var(--size-120);
    --horizontal-snudge: var(--size-80);
    --horizontal-none: var(--size-none);
    --vertical-100: var(--size-100);
    --vertical-16: var(--size-160);
    --vertical-20: var(--size-20);
    --vertical-200: var(--size-200);
    --vertical-240: var(--size-240);
    --vertical-280: var(--size-280);
    --vertical-320: var(--size-320);
    --vertical-360: var(--size-360);
    --vertical-40: var(--size-40);
    --vertical-400: var(--size-400);
    --vertical-440: var(--size-440);
    --vertical-480: var(--size-480);
    --vertical-520: var(--size-520);
    --vertical-560: var(--size-560);
    --vertical-60: var(--size-60);
    --vertical-mnudge: var(--size-120);
    --vertical-snudge: var(--size-80);
    --vertical-none: var(--size-none);
}
