[data-theme="dark"] {
    --brand-indigo-1: #131620;
    --brand-indigo-2: #15192D;
    --brand-indigo-3: #192140;
    --brand-indigo-4: #1C274F;
    --brand-indigo-5: #1F2C5C;
    --brand-indigo-6: #22346E;
    --brand-indigo-7: #273E89;
    --brand-indigo-8: #2F4EB2;
    --brand-indigo-9: #3E63DD;
    --brand-indigo-10: #5373E7;
    --brand-indigo-11: #849DFF;
    --brand-indigo-12: #EEF1FD;
    --grey-1: #161616;
    --grey-2: #1C1C1C;
    --grey-3-alfa: rgba(35,35,35,0.95);
    --grey-3: #232323;
    --grey-4: #282828;
    --grey-5: #2E2E2E;
    --grey-6: #343434;
    --grey-7: #3E3E3E;
    --grey-8: #505050;
    --grey-9: #707070;
    --grey-10: #7E7E7E;
    --grey-11: #A0A0A0;
    --grey-12: #EDEDED;
    --shared-purple-1: #1B141D;
    --shared-purple-2: #221527;
    --shared-purple-3: #301A3A;
    --shared-purple-4: #3A1E48;
    --shared-purple-5: #432155;
    --shared-purple-6: #4E2667;
    --shared-purple-7: #5F2D84;
    --shared-purple-8: #7938B2;
    --shared-purple-9: #8E4EC6;
    --shared-purple-10: #8445BC;
    --shared-purple-11: #BF7AF0;
    --shared-purple-12: #F7ECFC;
    --shared-sky-1: #0C1820;
    --shared-sky-2: #071D2A;
    --shared-sky-3: #082636;
    --shared-sky-4: #082D41;
    --shared-sky-5: #08354C;
    --shared-sky-6: #083E59;
    --shared-sky-7: #064B6B;
    --shared-sky-8: #005D85;
    --shared-sky-9: #68DDFD;
    --shared-sky-10: #8AE8FF;
    --shared-sky-11: #2EC8EE;
    --shared-sky-12: #EAF8FF;
    --shared-teal-1: #091915;
    --shared-teal-2: #04201B;
    --shared-teal-3: #062923;
    --shared-teal-4: #07312B;
    --shared-teal-5: #083932;
    --shared-teal-6: #09443C;
    --shared-teal-7: #0B544A;
    --shared-teal-8: #0C6D62;
    --shared-teal-9: #12A594;
    --shared-teal-10: #10B3A3;
    --shared-teal-11: #0AC5B3;
    --shared-teal-12: #E1FAF4;
    --shared-tomato-1: #1D1412;
    --shared-tomato-2: #2A1410;
    --shared-tomato-3: #3B1813;
    --shared-tomato-4: #481A14;
    --shared-tomato-5: #541C15;
    --shared-tomato-6: #652016;
    --shared-tomato-7: #7F2315;
    --shared-tomato-8: #A42A12;
    --shared-tomato-9: #E54D2E;
    --shared-tomato-10: #EC5E41;
    --shared-tomato-11: #F16A50;
    --shared-tomato-12: #FEEFEC;
    --shared-yellow-1: #1C1500;
    --shared-yellow-2: #221A00;
    --shared-yellow-3: #2C2100;
    --shared-yellow-4: #352800;
    --shared-yellow-5: #3E3000;
    --shared-yellow-6: #493C00;
    --shared-yellow-7: #594A05;
    --shared-yellow-8: #705E00;
    --shared-yellow-9: #F5D90A;
    --shared-yellow-10: #FFEF5C;
    --shared-yellow-11: #F0C000;
    --shared-yellow-12: #FFFAD1;
    --static-black: #171717;
    --static-white: #FCFCFC
  }
