:root {
  --brand-indigo-1: #FDFDFE;
  --brand-indigo-2: #F8FAFF;
  --brand-indigo-3: #F0F4FF;
  --brand-indigo-4: #E6EDFE;
  --brand-indigo-5: #D9E2FC;
  --brand-indigo-6: #C6D4F9;
  --brand-indigo-7: #AEC0F5;
  --brand-indigo-8: #8DA4EF;
  --brand-indigo-9: #3E63DD;
  --brand-indigo-10: #3A5CCC;
  --brand-indigo-11: #3451B2;
  --brand-indigo-12: #101D46;
  --grey-1: #FCFCFC;
  --grey-2: #F8F8F8;
  --grey-3-alfa: rgba(243,243,243,0.95);
  --grey-3: #F3F3F3;
  --grey-4: #EDEDED;
  --grey-5: #E8E8E8;
  --grey-6: #E2E2E2;
  --grey-7: #DBDBDB;
  --grey-8: #C7C7C7;
  --grey-9: #8F8F8F;
  --grey-10: #858585;
  --grey-11: #6F6F6F;
  --grey-12: #171717;
  --shared-purple-1: #FEFCFE;
  --shared-purple-2: #FDFAFF;
  --shared-purple-3: #F9F1FE;
  --shared-purple-4: #F3E7FC;
  --shared-purple-5: #EDDBF9;
  --shared-purple-6: #E3CCF4;
  --shared-purple-7: #D3B4ED;
  --shared-purple-8: #BE93E4;
  --shared-purple-9: #8E4EC6;
  --shared-purple-10: #8445BC;
  --shared-purple-11: #793AAF;
  --shared-purple-12: #2B0E44;
  --shared-sky-1: #F9FEFF;
  --shared-sky-2: #F1FCFF;
  --shared-sky-3: #E4F9FF;
  --shared-sky-4: #D5F4FD;
  --shared-sky-5: #C1ECF9;
  --shared-sky-6: #A4DFF1;
  --shared-sky-7: #79CFEA;
  --shared-sky-8: #2EBDE5;
  --shared-sky-9: #68DDFD;
  --shared-sky-10: #5FD4F4;
  --shared-sky-11: #0078A1;
  --shared-sky-12: #003242;
  --shared-teal-1: #FAFEFD;
  --shared-teal-2: #F1FCFA;
  --shared-teal-3: #E7F9F5;
  --shared-teal-4: #D9F3EE;
  --shared-teal-5: #C7EBE5;
  --shared-teal-6: #AFDFD7;
  --shared-teal-7: #8DCEC3;
  --shared-teal-8: #53B9AB;
  --shared-teal-9: #12A594;
  --shared-teal-10: #0E9888;
  --shared-teal-11: #067A6F;
  --shared-teal-12: #10302B;
  --shared-tomato-1: #FFFCFC;
  --shared-tomato-2: #FFF8F7;
  --shared-tomato-3: #FFF0EE;
  --shared-tomato-4: #FFE6E2;
  --shared-tomato-5: #FDD8D3;
  --shared-tomato-6: #FAC7BE;
  --shared-tomato-7: #F3B0A2;
  --shared-tomato-8: #EA9280;
  --shared-tomato-9: #E54D2E;
  --shared-tomato-10: #DB4324;
  --shared-tomato-11: #CA3214;
  --shared-tomato-12: #341711;
  --shared-yellow-1: #FDFDF9;
  --shared-yellow-2: #FFFCE8;
  --shared-yellow-3: #FFFBD1;
  --shared-yellow-4: #FFF8BB;
  --shared-yellow-5: #FEF2A4;
  --shared-yellow-6: #F9E68C;
  --shared-yellow-7: #EFD36C;
  --shared-yellow-8: #EBBC00;
  --shared-yellow-9: #F5D90A;
  --shared-yellow-10: #F7CE00;
  --shared-yellow-11: #946800;
  --shared-yellow-12: #35290F;
  --static-black: #171717;
  --static-white: #FCFCFC
}
